nav {
  border-bottom: 1px solid $base-border-color;
  margin: em(30) 0;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }
}

//.blog-title {
//  font-size: 1.4em;
//  font-weight: 700;
//  letterspacing: 4px;
//  text-transform: uppercase;
//}

.masthead-title {

  display: inline-block;
  small {
    //font-size: 75%;
    font-weight: 400;
    color: #afa8ae;
    letter-spacing: 0;
    //position: relative;
    //left: 280px;
    //bottom: 50px;
  }
}

.about {
  a {
    font-weight: 400;
    color: #afa8ae;
    display: inline-block;
    float: right;
    vertical-align: top;
  }
  a:hover {
    color: #000000;
  }
}

