.sidebar {
  max-width: 200px;
  //position: fixed;
  float: left;
  margin-top: 10em;
  //bottom: 0;
  //left: -14rem;
  //width: 14rem;
  //visibility: hidden;
  //overflow-y: auto;
  //font-family: "PT Sans", Helvetica, Arial, sans-serif;
  //font-size: .875rem;
  //color: rgba(255, 255, 255, .6);
  //background-color: #202020;
  //-webkit-transition: all .3s ease-in-out;
  //transition: all .3s ease-in-out;
  //margin-left: auto;
  //margin-right: auto;
}