%footer
  -#%ul.large-column
  -#  %li
  -#    %h5.heading Recent Articles
  -#  %li
  -#    %ol
  -#      - blog.articles[0...10].each do |article|
  -#        %li
  -#          = link_to article.title, article
  -#          %span= article.date.strftime('%b %e')
  -#%ul.small-column
  -#  %li
  -#    %h5.heading Tags
  -#  %li
  -#    %ol
  -#      - blog.tags.each do |tag, articles|
  -#        %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
  -#  %ul
